/* font-face noonnu */

@font-face {
  font-family: 'SDSamliphopangche_Outline';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Initial setting */

* {
  font-family: "42dot Sans", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #0c0c0c;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}

/* header nav */

a {
  text-decoration: none;
  color: inherit;
}

header {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo {
  font-family: 'SDSamliphopangche_Outline', sans-serif;
  font-size: 3.4375rem;
  display: flex;
  padding: 3.125rem;
}

.nav-menu a {
  font-size: 2.1875rem;
  gap: 3.75rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 3.75rem;
  padding: 3.125rem;
}

.nav-menu-small {
  display: flex;
  align-items: center;
  gap: 3.75rem;
}

.nav-menu-small a {
  font-size: 1.5625rem;
  color: #8a8a8a;
}

.nav-menu-small a:hover {
  color: #000;
}

.user-menu {
  display: flex;
  gap: 2.1875rem;
  padding: 3.125rem;
}

.user-menu a {
  background-color: #f6f6f6;
  border: none;
  font-size: 1.25rem;
  color: #8a8a8a;
}

.user-menu a:hover {
  color: #000;
}

/* body -- main search section */

.search-section {
  padding: 6.25rem 9.375rem 6.25rem 9.375rem;
}

.search-section > .main-title-h1 {
  font-size: 2.8125rem;
}

.search-section > .search-container > .search-text {
  border: none;
  width: 100%;
  border-bottom: .3125rem solid #000;
  background-color: #f6f6f6;
  height: 5.3125rem;
  font-size: 2rem;
  color: #000;
  outline: none;
  display: flex;  
}

.search-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;
}

.search-glass {
  display: flex;
  position: absolute;
  top: 50%;
  margin-top: -1.5625rem;
  right: .9375rem;
  font-size: 2.1875rem;
  cursor: pointer;
  padding: .625rem;
  line-height: 1;
}

.search-filter {
  padding: 3.125rem 3.125rem 3.125rem 3.125rem;
  margin-top: 6.25rem;
  background-color: #FFF;
  border-radius: 1.5625rem;
}

.search-filter > .tabs > button {
  font-size: 2.25rem;
  border: none;
  background-color: #FFF;
  padding-bottom: .9375rem;
  font-weight: bold;
  cursor: pointer;
}

.tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: .0625rem solid #e5e5e5;
}

.tab.active {
  color: #0400ff;
}

.search-row {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

.search-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.1875rem;
  flex: 1;
  min-width: 12.5rem;
  padding-top: 2.5rem;
}

.search-label {
  font-size: 1.25rem;
  color: #8a8a8a;
}

.search-control {
  font-size: 1.25rem;
  padding: .9375rem;
}

.car-type-buttons {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.0625rem;
}

.car-type-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .625rem;
  background-color: #FFF;
  cursor: pointer;
  flex: 1;
  min-width: 12.5rem;
  border: .0625rem solid #000;
  padding: .9375rem;
  border-radius: .9375rem;
}

.car-type-button > span {
  font-size: 1.5rem;
  font-weight: bold;
}

.car-type-button img {
  max-height: 4.0625rem;
}

.car-type-button[data-type="대형"] img {
  max-height: 2.8125rem;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.car-type-button:hover {
  color: #0400ff;
  border-color: #0400ff;
}

.car-type-button.active {
  color: #0400ff;
  border-color: #0400ff;
}

.search-btn {
  background-color: #000;
  color: #FFF;
  font-size: 1.25rem;
  border: none;
  padding: .9375rem;
  margin-top: 1.875rem;
  width: 12.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: .625rem;
}

/* 실시간 찜 많은 차량 */
.popular-car-section {
  padding: 0rem 9.375rem 6.25rem 9.375rem;
}

.car-section-h1 {
  font-size: 2.1875rem;
  font-weight: bold;
}

.car-slide-section {
  background-color: #EEE;
  padding: 1.5625rem 3.125rem 3.125rem 3.125rem;
  border-radius: 1.5625rem;
}

.car-slide-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.car-slide-wrapper > div[class^="slide-"] {
  flex: 0 0 100%;
  width: 100%;
}

.car-slide-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.car-slide-info {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  padding: .625rem 3.125rem;
}

.car-slide-info > a > .car-card {
  background-color: #c7c7c7;
  padding: 3.125rem;
  border-radius: 1.125rem;
  margin: 0rem .625rem 0rem .625rem;
}

.car-slide-info > a > .car-card img {
  height: 9.375rem;
  width: 18.75rem;
}

.car-data {
  display: flex;
  flex-direction: column;
}

.car-title-line {
  display: flex;
  align-items: center;
  gap: .625rem;
  font-weight: bold;
  font-size: 1.875rem;
  padding-top: .9375rem;
  padding-bottom: .9375rem;
}

.car-data > p {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.car-title-line > p {
  margin: 0;
  padding: 0;
}

.car-price {
  font-size: 1.5rem;
}

.car-info {
  font-size: .9375rem;
  color: #6e6e6e;
}

.slider-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3.125rem;
  height: 3.125rem;
  background-color: #c7c7c7;
  color: #000;
  font-weight: bold;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  z-index: 10;
  border-radius: .625rem;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

/* footer section */

.footer-section {
  padding: 3.125rem;
  border-top: .0625rem solid #f6f6f6;
  background-color: #EEE;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: auto;
}

.footer-logo {
  font-family: 'SDSamliphopangche_Outline', sans-serif;
  font-size: 3.4375rem;
  display: flex;
  padding-left: 15.625rem;
}

.footer-main{
  display: flex;
  flex-direction: column;
  padding-right: 15.625rem;
  gap: .5rem;
}

.footer-copyright {
  color: #adacac;
}